<div class="wrapper">
  <div class="header">
    <h1>Comic genres</h1>
    <p>Comlete collection of comic genres</p>
  </div>

  <div class="genre_wrapper">
    <% @genres.each do |genre| %>
      <div id="collection" class="genre">
        <div id="collection_cover" class="genre_cover">
          <div id="collection_title" class="genre_title"><%= link_to genre.title, genre %></div>
          <%= image_tag genre.cover.url %>
        </div>

        <% if can? :update, Genre %>
          <%= link_to 'Edit', edit_genre_path(genre) %>
        <% end %>

        <% if can? :destroy, Genre %>
          <%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%# if can? :create, Genre %>
    <%#= link_to 'New Genre', new_genre_path %>
  <%# end %>
</div>
