<div class="wrapper">
  <div class="section_title">
    <h1>Genres</h1>
  </div>

      <div class="genre_wrapper">
        <% @genres.each do |genre| %>
          <div class="genre">
            <%= link_to genre.title, genre %>
              <% if can? :update, Genre %>
                <%= link_to 'Edit', edit_genre_path(genre) %>
              <% end %>

              <% if can? :destroy, Genre %>
                <%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
        <% end %>
      </div>


  <br>

  <% if can? :create, Genre %>
    <%= link_to 'New Genre', new_genre_path %>
  <% end %>
</div>
