<table>
  <tbody>
    <% @genre.comics.all.each do |c| %>
      <tr>
        <td><%= c.title %></td>
        <td><%= c.description %></td>
      </tr>
    <% end %>

    <h1><%= @genre.title %></h1>
  </tbody>
</table>

<br>


<%#= link_to 'Edit', edit_genre_path(@genre) %>
<%= link_to 'Back', genres_path %>
