@font-face {
  font-family: 'Avenir';
  src: url(../fonts/Avenir-Roman.otf) format("opentype");
}

@font-face {
  font-family: 'Avenir';
  src: url(../fonts/Avenir-Medium.otf) format("opentype");
}

@font-face {
  font-family: 'Avenir';
  src: url(../fonts/Avenir-Heavy.otf) format("opentype");
}

@font-face {
  font-family: 'Avenir';
  src: url(../fonts/Avenir-Black.otf) format("opentype");
}
